<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta 2</title>
</head>
<body>
    <h1>pregunta2</h1>
    <br>
    <p id="part1" class="alpha"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus ut alias labore saepe asperiores provident fugiat assumenda ipsa ad ipsam numquam minima velit, enim iusto aliquam aspernatur, debitis nisi.
    Optio molestias voluptate sint fuga dicta beatae magnam officia quasi harum rerum recusandae fugit iste veniam labore sapiente iure ea minus aliquid, possimus fugiat eius. Similique sequi quidem laboriosam ex.
    Perferendis repellendus nisi, distinctio deleniti, deserunt molestias delectus nobis quae est explicabo molestiae quia sapiente et. Laboriosam earum quae ea cum, laudantium, facilis velit sint totam commodi recusandae nihil minus?
    </p>
    <br>
    <a href="https://naturalhistory.si.edu/visit/virtual-tour" id="part2" class="beta">go to smithsonia</a>

</body>
</html>